---
import PaperBlock from "$components/containers/PaperBlock.astro";
import StickyNote from "$components/containers/StickyNote.astro";
import Content from "$components/elements/Content.astro";
import SimpleLayout from "$components/layouts/SimpleLayout.astro";
import Page from "$layouts/Page.astro";
import { getCollection } from "astro:content";

function prettifyQuote(text: string, type: string): string {
    if (type === "song") {
        return `&#9835;&nbsp;${text}&nbsp;&#9835;`;
    } else if (type === "quote") {
        return `&ldquo;${text}&rdquo;`;
    } else {
        return text;
    }
}

const quotes = (await getCollection("tagline"))
    .toSorted((a, b) => a.id.padStart(5, "0").localeCompare(b.id.padStart(5, "0")))
    .map((tagline) => {
        return {
            id: tagline.id,
            type: tagline.data.type,
            text: prettifyQuote(tagline.data.text, tagline.data.type),
            href: tagline.data.href,
        };
    });
---

<Page title="Taglines">
    <SimpleLayout>
        <PaperBlock>
            <Content theme="paper">
                <h1>Taglines</h1>
                <p>
                    Taglines are the small bits of text which appears under my name
                    <a href="/">on the homepage</a>. Head over there and try giving it a refresh if you don't
                    know what I'm talking about. Clicking on some of them even takes you to a relevant video / webpage, if you want more context!
                </p>
                <p>
                    Here is the list of all {quotes.length} taglines that can appear:
                </p>
                <p></p>
            </Content>
            <div class="tagline-list">
                {
                    quotes.map((quote) => (
                        <code class="id">{quote.id}</code>
                        <a href={quote.href} class="tagline" target="_blank" rel="noreferrer noopener">
                            <StickyNote padding={false}>
                                <div class="tagline-inner" set:html={quote.text} />
                            </StickyNote>
                        </a>
                    ))
                }
            </div>
        </PaperBlock>
    </SimpleLayout>
</Page>

<style lang="scss">
    .tagline-list {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: center;
        align-items: center;

        gap: 1em;
    }

    .tagline-inner {
        max-width: 34ch;

        padding: 1.2rem 2.5rem;

        font-weight: var(--font-medium);
        text-align: center;
        text-wrap: balance;
        line-height: 1.25;
    }

    .id {
        font-weight: bold;
    }
</style>
